.CContainer > *{
    width: 100%;
}

.CContainer{
    width: 100%;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background: white;
}

.tags{
    width: max-content;
    padding: 2px 8px;
    border-radius: 5px;
    border: 2px solid silver;
}


.cardTags{
    display: flex;
    align-items: center;
    gap: 100px;
}

